---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import AboutSection from '../components/AboutSection';
import ServicesSection from '../components/ServicesSection';
import Footer from '../components/Footer';
import { fetchServices, fetchPartners, fetchDiplomas } from '../lib/queries';

const [services, partners, diplomas] = await Promise.all([
  fetchServices(),
  fetchPartners(),
  fetchDiplomas(),
]);
---

<Layout>
  <Navbar client:load />
  <main>
    <Hero client:load />
    <AboutSection diplomas={diplomas} client:load />
    <ServicesSection services={services} partners={partners} client:load />
  </main>
  <Footer client:load />
</Layout>
