---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Hero from '../components/Hero';
import AboutSection from '../components/AboutSection';
import ServicesSection from '../components/ServicesSection';
import Footer from '../components/Footer';
---

<Layout>
  <Navbar client:load />
  <main>
    <Hero client:load />
    <AboutSection client:load />
    <ServicesSection client:load />
  </main>
  <Footer client:load />
</Layout>
